<script type="text/javascript">
// From https://github.com/AthensWorks/gravatar_profiles_page/blob/master/app/scripts/main.js

// Edit names by modifying `athensworks_members.json` in the master directory.
var NAMES_URL = '../athensworks_members.json';

var GRAVATAR_URL = 'https://en.gravatar.com/';
var COL = "left";
var users = [];

var render = function(user) {
	if(user.name.formatted === undefined) {
	    return '';
	}
	return '<div class="media">' +
						'<a href="' + user.profileUrl + '" target="_new">' + '<img class="media-left" src="' + user.thumbnailUrl + '"></img></a>' +
						'<div class="media-body">' +
							'<h4 class="media-heading">' + user.name.formatted + '</h4>' +
							'<p>' + user.aboutMe + '</p>' +
						'</div>' +
					'</div>' +
					'<hr />';
};

/*
<div class="media">
  <a class="media-left" href="#">
    <img src="..." alt="...">
  </a>
  <div class="media-body">
    <h4 class="media-heading">Media heading</h4>
    ...
  </div>
</div>
*/

$(document).ready(function(){
    $.getJSON(NAMES_URL, function(data){
        users = data;
				users.map(function(user){
					$.getJSON(GRAVATAR_URL + user + '.json?callback=?', function(data){
		    		if(COL === "left") {
							COL = "right";
							document.querySelector('.users-left').innerHTML = document.querySelector('.users-left').innerHTML + render(data.entry[0]);
						} else {
							COL = "left";
							document.querySelector('.users-right').innerHTML = document.querySelector('.users-right').innerHTML + render(data.entry[0]);
						}
					});
			});
    });
});

</script>
