<div class="hero" style="background-image: url('/images/Athens_Downtown_Historic_District_OH_USA.jpg');">
    <div class="row middle-xs center-xs start-sm">
        <div class="col-xs-12 col-sm-4">
            <img class="hero__gravatar" src="/assets/athensworks_logo.gif" width="250" height="250" alt="{{ site.author }}"{% if site.email and site.gravatar != false %} data-gravatar="{{ site.email }}"{% endif %}>
        </div>
        <div class="col-xs-12 col-sm-8">
            {% include custom/hero/welcome.html %}
        </div>
    </div>

    <div class="hero__credit">
        <p>
          Attribution: <a href="//en.wikipedia.org/wiki/User:Ed!" class="extiw" title="en:User:Ed!">Ed!</a> via <a href="https://commons.wikimedia.org/wiki/File%3AAthens_Downtown_Historic_District_OH_USA.JPG">Wikimedia Commons</a>, [<a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY-SA 3.0</a>]
        </p>
    </div>
</div>
